{{!-- <div class="container custom-table-container">
    <h2>Employee List</h2>
    <table class="table table-hover custom-table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
        {{#each list}}
          <tr class="table-active">
            <td scope="row">{{this.fullname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.city}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
   --}}


   <div class="container custom-table-container">
  <h2 class="table-heading">Employee List</h2>
  <div class="table-responsive">
    <table class="table table-hover custom-table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
        {{#each list}}
          <tr>
            <td scope="row" class="text-uppercase">{{this.fullname}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.city}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
