 <div class="container">
    <h2 class="head">Update Employee List</h2>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">City</th> 
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {{#each emp}}
          <tr>
            <td class="nam">{{this.fullname}}</td>
             <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.city}}</td>
            <td><a class="btn-edit" href="/emp/editEmployee/{{this._id}}">Edit</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
     <div class="container text-end mt-3">
    <a href="/" class="btn btn-outline-secondary">🏠 Go to Home</a>
  </div>
</div>
  </div>